<launch>
  <node name="miivii_gmsl_ros" pkg="miivii_gmsl_ros" type="miivii_gmsl_ros_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="camCount" value="4" />
    <param name="enable_sync" value="1" />
    <param name="fps" value="25" />
    <param name="domain" value="" />
    <param name="camera1_topic" value="camera1" />
    <param name="camera1_name" value="perception_front" />
    <param name="camera1_info_topic" value="camera1_info" />
    <param name="camera1_cali_file" value="file:///opt/miivii/data/calibration/camera/perception_front.yaml" />
    <param name="camera1_frame_id" value="camera_perception_front" />

    <param name="camera2_topic" value="camera2" />
    <param name="camera2_name" value="perception_right" />
    <param name="camera2_info_topic" value="camera2_info" />
    <param name="camera2_cali_file" value="file:///opt/miivii/data/calibration/camera/perception_right.yaml" />
    <param name="camera2_frame_id" value="camera_perception_right" />

    <param name="camera3_topic" value="camera3" />
    <param name="camera3_name" value="perception_left" />
    <param name="camera3_info_topic" value="camera3_info" />
    <param name="camera3_cali_file" value="file:///opt/miivii/data/calibration/camera/perception_left.yaml" />
    <param name="camera3_frame_id" value="camera_perception_left" />

    <param name="camera4_topic" value="camera4" />
    <param name="camera4_name" value="rear" />
    <param name="camera4_info_topic" value="camera4_info" />
    <param name="camera4_cali_file" value="file:///opt/miivii/data/calibration/camera/rear.yaml" />
    <param name="camera4_frame_id" value="camera_rear" />
  </node>
</launch>
